.nav-link {
  border-color: #009ad8;
  border-style: solid;
  border-width: 2px;
}

.navbar-collapse {
  flex-grow: 0;
}

nav,
input.form-control {
  background-color: #1e202b;
}
section {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-color: #1E202B;
}

.form-control:focus {
  box-shadow: none;
  background-color: #1e202b;
}

.form-control::placeholder {
  color: gainsboro;
}

button {
  /* transform: translate(-50px,-20); */
  /* transform: translateX(-50px); */
  translate: -7px -50px;
}

.date , row{
  background-color: #2c2f3d;
  color: white;
}
.bg-lightgray {
  background-color: #323544;
}

.tomorrow{
    background-color: #222430;
    color: white;
}
.tomorrow-weather{
    background-color: #262936;
}

.row{
    height: 350px;
}


.temperature{
    font-size: 70px;
    font-weight: bold;
}

footer{
    background-color: #262936;
}